<ul class="social-icons">
  {% if facebook_url != '' %}
    <li><a href="{{ "https://www.facebook.com/ONadetBeaute/photos/?ref=page_internal" }}" target="_blank"><i class="icon-facebook"></i></a></li>
  {% endif %}
  {% if instagram_url != '' %}
    <li><a href="{{ "https://www.instagram.com/onadetbeaute" }}" target="_blank"><i class="icon-instagram"></i></a></li>
  {% endif %}
</ul>
