/*Global
---------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}
.front-paragraph {
    font-size: 1.3em;
}
.bold-word {
    font-weight: bold;
}
.left {
    text-align: left;
}

/*Style link button*/
div.node-readmore a {
  position: relative;
  border: 2px solid var(--theme-color);
  border-radius: 30px;
  padding: 0.4em 0.8em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

div.node-readmore a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  height: 2px;
  width: 0;
  background: var(--theme-color);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

div.node-readmore a:hover {
  color: var(--theme-color);
  padding: 0.4em 3em 0.4em 0.8em;
}

div.node-readmore a:hover::after {
  width: 2em;
}

/*-----------------------------------------------------------------
Front page styles
-------------------------------------------------------------------*/

/*block prestations page d'accueil
---------------------------------------------------------*/
.highlighted {
    background: #ffffff;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.prestation {
    position: relative;
    width: 30% !important;
    height: 500px;
    padding: 1em;
    background: #f2f4ff;
    box-shadow: 0px 0px 15px #919296;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}
.prestation:first-of-type {
    margin-right: 5%;
}
.prestation:last-of-type {
    margin-left: 5%;
}
.prestation .views-field-title {
    font-size: 2em;
    margin-bottom: 3vh;
}
.prestation .field-content.block-title {
    padding-bottom: 1vh;
}
.prestation .views-field-field-lien-vers-contenu {
    position: absolute;
    bottom: 15px;
    right: 10px;
    
}

/*Bloc présentation de l'activité
--------------------------------------------------------------*/
.presentation-activity {
    background: #f2f4ff;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 4vh;
    padding-bottom: 3vh;
    margin-bottom: 2vh;
}
.presentation-activity .container {
    display: flex;
}
.presentation-text {
    width: 50%;
}
.presentation-slider-photos {
    width: 50%;
}
.presentation-activity .group-left {
    padding-right: 4em;
}
.presentation-activity section .groupe-left p{
    font-size: 1.5em;
}
.presentation-activity .group-right {
    text-align: right;
}
.activites{
    display: flex;
    justify-content: space-between;
}
.activites span {
    font-size: 2em;
    font-weight: bold;
}
#presentation-slider img {
    height: 330px;
    object-fit: cover;
    object-position: 50% 50%;
    box-shadow: 0px 0px 15px #919296;
    margin: auto;
}
#presentation-slider .field--name-field-slider {
    margin: 1em;
}
.presentation-link-photos {
    text-align: right;
    margin-bottom: 10vh;
}

/*Bloc Publications facebook
--------------------------------------------------------------*/
#social_posts {
    margin-bottom: 10vh;
}
#social_posts .block-section {
    display: flex;
    justify-content: space-between;
}
#social_posts .social_posts_title {
    margin-bottom: 5vh;
    font-size: 2em;
}
#social_posts a {
    text-align: right;
}
#social_posts .bloc-iframes {
    margin-bottom: 2vh;
}
#social_posts .slick-slide {
    text-align: center;
    margin: 2em;
    padding: 1em;
    background-color: #f2f4ff;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 490px;
    box-shadow: 0px 0px 15px #919296;
}
#social_posts ul.social-icons {
    text-align: center;
}
#social_posts iframe {
    width: 100%;
    height: 100%;
}
#social_posts .slick-arrow {
    background: inherit;
}
#social_posts .slick-next {
    position: absolute;
    z-index: 100;
    right: 10px;
}
#social_posts .slick-prev {
    position: absolute;
    z-index: 100;
}
#social_posts .social-icons li a {
  text-align: center;
  padding: 14px 17px;
  border: 1px solid var(--theme-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10vh;
  margin-right: 10px;
  margin-left: 10px;
}

/*Bloc Qui suis-je
--------------------------------------------------------------*/
.qui-suis-je {
    background: #f2f4ff;
    padding-top: 4vh;
    padding-bottom: 3vh;
    margin-bottom: 15vh;
}
.qui-suis-je .field--name-field-titre-du-bloc {
    margin-bottom: 5vh !important;
}
.qui-suis-je-title span {
    padding-top: 2em;
    font-size: 2em;
    font-weight: bold;
}
.qui-suis-je .slick .field-item {
    height: 480px;
    margin: 1em 1em 2em 1em;
}
.qui-suis-je .slick img {
    margin: auto;
    object-fit: cover;
    object-position: 50% 50%;
    box-shadow: 0px 0px 15px #919296;
}

/*-----------------------------------------------------------------
Global pages styles
-------------------------------------------------------------------*/

.custom-container {
    margin-left: 5%;
    margin-right: 5%;
}
@media (min-width: 768px) {
    .two-sidebar .main-container {
        grid-template-columns: 20% 60% 20%;
    }
}

/*Bloc Contact form
-------------------------------------------------------------*/
#footer-top {
    background: var(--footer-bg);
    color: var(--content-bg);
}
#footer-top label {
    color: var(--content-bg);
}
#footer-top .block-title{
    color: var(--theme-color);
}
#footer-top .block-title {
    margin-left: 10%;
}
#footer-top input::placeholder, #footer-top textarea::placeholder {
    color: #919296;
}
#footer-top input[type="text"] {
    background: var(--content-bg);
    border-radius: 20px;
}
#footer-top input[type="email"] {
  background: var(--content-bg);
  border-radius: 20px;
}
#footer-top .node-taxonomy-container .taxonomy-terms {
    text-align: center;
    
}
#footer-top .node-taxonomy-container .taxonomy-terms .taxonomy-term {
    text-align: left;
    width: 80%
}
#footer-top .contact-message-formulaire-de-contact-footer-form label {
    display: none;
}

/*Bloc footer
-----------------------------------------------------------------------*/
#footer-blocks {
    padding-left: 5% !important;
    padding-right: 5% !important;
    border-top: 1px solid var(--footer-border-color);
}
#footer-blocks .block-region {
    text-align: ;
}
#footer-blocks .block-region h2 {
    font-size: 1.2em;
}
#footer-blocks .block-title::before,
#footer-blocks .block-title::after {
    height: 0;
}
#footer-blocks .block-region .field {
    display: flex;
    justify-content: flex-start;
}
#footer-blocks .block-region .field svg{
    margin-right: 20px;
}
#footer-blocks .region-footer-first {
    padding: 0 30% 0 30%;
}
#footer-blocks svg path{
    color: var(--theme-color);
}
#footer-blocks .field:not(:last-child) {
    margin-bottom: 10px !important;
}

/*Bloc paragraph prestations
---------------------------------------------------------------------------*/
.paragraph--type-photo-description-prix {
    border-bottom: 1px solid #f2f4ff;
    display: flex; 
    padding-left: 2em;
    padding-right: 2em;
}
.paragraph--type-photo-description-prix img {
    margin: 1em;
    object-fit: cover;
    object-position: 50% 50%;
    width: 50%;
    box-shadow: 0px 0px 10px #919296;
}
.paragraph--type-photo-description-prix .group-left {
    min-height: 10vh;
}
.paragraph--type-photo-description-prix .group-middle,
.paragraph--type-photo-description-prix .group-right {
    position: relative;
}
.paragraph--type-photo-description-prix .group-middle .field {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.paragraph--type-photo-description-prix .group-middle p {
    margin: 0;
    border-bottom: 1px solid var(--theme-color);
    font-weight: bold;
}
.paragraph--type-photo-description-prix .group-right .field {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.field--name-field-tarif {
    padding: 1em;
    color: white;
    background: var(--theme-color);
    border-radius: 10%;
    font-weight: bold;
}

/*Bloc Contact sidebar-right
---------------------------------------------------------------------------*/
#block-infoscontactfooter-2 .field {
    display: flex;
    flex-direction: column;
}

/*Bloc Page Toutes les photos
---------------------------------------------------------------------------*/
.item-photos .views-col{
    height: 400px;
    padding: 0 1em 1em 1em;
    overflow: hidden;
}
.item-photos .views-col .node-header {
    display: none;
}
.item-photos .views-col .node-title {
    font-size: 1.5em;
    margin-bottom: 1em;
}
.item-photos .views-col article .node-content img {
    box-shadow: 0px 0px 10px #919296;
    width: 100%;
    object-fit: cover;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

/*Bloc Menu photos
---------------------------------------------------------------------------*/
#block-menuphotos ul {
    margin-bottom: 2em;
}
#block-menuphotos ul li {
    display: inline;
    margin: 0 1em 4em 0;
}